@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(225, 227, 234, 0),
      rgba(230, 232, 237, 0),
      rgba(239, 240, 245, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* a {
  color: inherit;
  text-decoration: none;
} */

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* Nav.css */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 70px;
  background-color: #fff; 
  border-bottom: 1px solid #ddd; 
}

.nav-left {
  flex: 1;
}

.nav-center {
  display: flex;
  flex: 2;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-center li {
  margin: 0 15px; 
  position: relative; /* For positioning the search form */
}

.nav-center a {
  text-decoration: none;
  color: #333; 
  font-weight: normal;
  transition: color 0.3s ease;
}

.nav-center a:hover {
  color: #e01052; 
}

.logo {
  font-family: 'Arial', sans-serif; 
  font-weight: bold;
  font-size: 20px; 
  color: #e01052; 
  text-decoration: none;
  font-style: italic; 
  margin-right: auto; 
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.search-button {
  background-color: #e01052;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #78132c;
}

.cart-icon {
  font-size: 20px; /* Adjust size as needed */
  color: #333; /* Default color for the icon */
  display: flex;
  align-items: center; /* Center-align the icon */
}

.cart-icon:hover {
  color: #e01052; /* Change color on hover */
}


/* footer.css */
.footer {
  margin-top: 40px;
  background-color: #141313;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #0a0a0a;
}

.nav-footer{
  background-color: #141313;
}

.footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove margin for proper alignment */
}

.footer nav ul li {
  display: inline;
  margin: 0 15px; /* Spacing between links */
}

.footer nav ul li a {
  text-decoration: none;
  color: #fff; /* Link color */
  font-size: 14px; /* Adjust font size */
}


.footer nav ul li a:hover {
  color: #e01052; 
}

.footer-divider {
  margin: 20px 0; /* Space around the divider */
}

.footer p {
  margin: 0; /* No margin to align with the footer */
  font-size: 14px;
  color: #eee7e7;
}


/* heroSection.css */
.hero-section {
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative; /* Added to position the content on the image */
}

.hero-image {
  position: relative;
}

.hero-content {
  color: #eee9eb;
  max-width: 600px;
  margin: 0 auto;
  position: absolute; /* Added for positioning over the image */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Ensure the content is above the image */
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
}

.hero-button {
  background-color: #e01052;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.hero-button:hover {
  background-color: #78132c;
}

.hero-image {
  position: relative;
  height: 500px; /* Set a fixed height for the hero image container */
  overflow: hidden; /* Hide any overflow */
}

.hero-image img {
  width: 100%;
  height: 100%;
  height: auto;
  display: block;
  z-index: 1; /* Image stays behind the content */
}

/* Product.css */

.products-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.product-title {
  text-align: center; 
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
}

.product-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  width: calc(25% - 20px);
  margin: 10px;
}

.product-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  display: block; 
  margin: 0 auto; 
}

h3 {
  margin: 15px 0;
  font-size: 1.5rem;
  color: #e01052;
}

h4 {
  margin: 15px 0;
  font-size: 1rem;
  color: black;
}

button {
  background-color: #e01052;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #78132c;
}


/* Discount.css */

.discount-section {
  display: flex;
  justify-content: center; /* Center align the content horizontally */
  padding: 20px;
  background-color: #e01052;
  text-align: center; /* Center align text */
}

.discount-text {
  flex: 1;
  padding: 20px; /* Adjust padding as needed */
}

.discount-text h2 {
  margin-top: 20px;
  color: #fff;
  font-size: 2.5rem;
}

.discount-text h3 {
  color: #d3e816;
  font-size: 1.5rem;
}

.discount-text p {
  color: #fff;
  margin-top: 10px; /* Add margin to space the paragraph from the heading */
}

/*Testimonial.css*/

.testimonial-container {
  margin-top: 40px;
  position: relative;
  width: 100%;
  overflow: hidden; /* Prevents content overflow */
}

.testimonial-background {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust as needed for the image size */
}

.testimonial-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.testimonial-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; /* Stack title and testimonial slide vertically */
  align-items: center; /* Center-align content horizontally */
  width: 90%;
  max-width: 800px;
  color: #fff; /* White text color for contrast */
  text-align: center;
}

.testimonial-title {
  margin-bottom: 20px; /* Space between title and slide */
  font-size: 2rem; /* Adjust size as needed */
  color: #fff;
  font-weight: bold;
}

.testimonial-slide {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: rgba(253, 205, 216, 0.8); /* Slightly transparent background for contrast */
  font-style: italic;
  width: 100%;
}

.testimonial-text {
  margin-bottom: 20px;
  color: #191212;
}

.testimonial-footer {
  margin-bottom: 20px;
}

.testimonial-author {
  display: block;
  font-weight: bold;
  font-style: normal;
  color: #e01052;
}

.testimonial-date {
  display: block;
  color: #e01052;
  font-style: normal;
}

.nav-button {
  background-color: #e01052;
  color: white;
  border: none;
  padding: 8px 16px; /* Reduced padding for a smaller button */
  font-size: 0.9rem; /* Slightly smaller font size */
  cursor: pointer;
  border-radius: 4px; /* Slightly smaller border-radius for a smaller button */
  transition: background-color 0.3s;
}


.nav-button:hover {
  background-color: #78132c;
}

/* HeroSection.css for about */

.hero-container-for-about {
  position: relative;
  width: 100%;
  max-height: 500px; /* Adjust as needed */
  overflow: hidden;
}

.hero-image-for-about {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text-for-about {
  position: absolute;
  top: 50%; /* Centers the text vertically */
  left: 50%; /* Centers the text horizontally */
  transform: translate(-50%, -50%);
  color: #fcf1f5; /* Adjust text color for visibility */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.hero-text-for-about h1 {
  margin: 0;
  font-size: 3em; /* Adjust font size as needed */
}

/*about-us-descritption*/

.about-description {
  margin-top: 40px;
  display: flex;
  margin-right: 150px;
  padding: 20px;
}

.about-us-image {
  flex: 1;
  margin-left: 100px;
}

.about-us-image img {
  width: 300px;
  height: 300px;
}

.about-us-text {
  flex: 2;
  font-size: 16px;
  margin-top: 10px;
}

.about-us-text h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.highlight {
  color: #e01052; /* Custom color for Slice & Dice */
}

/*contact-us-descritption*/
.contact-hero-section {
  position: relative;
  width: 100%;
  max-height: 500px; /* Adjust as needed */
  overflow: hidden;
}

.hero-image-for-contact {
  width: 100%;
  height: auto;
  display: block;
}

.hero-text-for-contact {
  position: absolute;
  top: 50%; /* Centers the text vertically */
  left: 50%; /* Centers the text horizontally */
  transform: translate(-50%, -50%);
  color: #fcf1f5; /* Adjust text color for visibility */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.hero-text-for-contact h1 {
  font-size: 3rem; /* Increase font size here */
  margin-bottom: 20px;
}

/* Contact Form Section */
.contact-form-section {
  margin: 40px auto;
  padding: 20px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-section h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group textarea {
  resize: vertical; /* Allows vertical resizing */
  height: 150px; /* Set initial height */
}

.contact-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #e01052;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #78132c;
}

/* Success Message */
.contact-form-section p {
  text-align: center;
  color: #28a745; /* Green color for success message */
  font-size: 1.2rem;
  margin-top: 20px;
}